
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

